:root{
    --secondary-color : #e6f2fe;
    --primary-color : #0F264F;
    --details-color : #06D6A0;
    --break-color: #77BECA;

    --navbar-height : 50px;

    --gray-text-color : #454545;
}
*{
    padding: 0;
    margin: 0;

    scroll-behavior: smooth;
}

#app{
    scroll-behavior: smooth;

    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #e6f2fe;

    position: relative;
}

